<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Index</title>
		<link href="/public/style.css" rel="stylesheet">
	</head>
	<body>
		<span>Room name:</span>
		<input name="room" type="text" id="room" value="123">
		<span>User:</span>
		<input name="user" type="text" id="user" value="qwe">
		<span>Source:</span>
		<input name="source" type="text" id="source">
		<input type="submit" id="send" value="Send">
		<div id="log"></div>
		<a href="javascript:play()">Play</a>
		<a href="javascript:pause()">Pause</a>
		<iframe id="video" class="embed-responsive-item" src="" frameborder="0" scrolling="no" allowfullscreen=""></iframe>		
	</body>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src = "/public/client.js"></script>
</html>